/*
 * Style tweaks
 * --------------------------------------------------
 */
html,body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

div#header div.form-group {
	padding-right: 5px;
}

div#sidebar {
	margin-top: 40px;	
}

table tr > td.title {
	font-weight: bold;
}

table.read-only input[type=checkbox] {
	pointer-events: none;
}

form span.help-inline {
	color: red;
}