@(action: String)(form: Form[br.com.casadocodigo.eai.modelos.Catalogo])(implicit message: utils.Message)

@import helper.twitterBootstrap._

@main(action + " Catálogo")("catalogo") {
  @helper.form(action = routes.ControladorDeCatalogo.salvar()) {
    <input type="hidden" name="id" id="id" value="@form("id").value()">
    @helper.inputText(form("nome"), '_label -> "Nome", 'size -> 30, 'placeholder -> "Digite aqui o nome", '_showConstraints -> false)
    @helper.inputText(form("descricao"), '_label -> "Descrição", 'size -> 100, 'placeholder -> "Digite aqui a descrição", '_showConstraints -> false)
    @helper.checkbox(form("ativo"), '_label -> "Ativo", '_showConstraints -> false)
    <p>
      <button type="submit" class="btn btn-success">Salvar</button>
      <a href="/catalogo" class="btn btn-danger">Cancelar</a>
    </p>
  }	
}