@(tiposDeProduto: List[br.com.casadocodigo.eai.modelos.TipoDeProduto])(implicit message: utils.Message)

@import components._

@main("Listar Tipos de Produto")("tipo-de-produto") {
  <table class="table read-only">
    <thead>
      <tr>
        <td class="title">#</td>
        <td class="title">Nome</td>
        <td class="title">Descrição</td>
        <td class="title">Ativo</td>
        <td class="title">Ação</td>
      </tr>
    </thead>
    <tbody>
      @for(tipoDeProduto <- tiposDeProduto) {
        <tr>
          <td>@tipoDeProduto.getId()</td>
          <td>@tipoDeProduto.getNome()</td>
          <td>@tipoDeProduto.getDescricao()</td>
          <td>@checkbox(tipoDeProduto.getAtivo)</td>
          <td><a href="/tipo-de-produto/@tipoDeProduto.getId()" class="btn btn-primary">Ver</a></td>
        </tr>
      }
    </tbody>
  </table>
  
  <a href="/tipo-de-produto/novo" class="btn btn-primary">Criar Tipo de Produto</a>
}
